<%# About page for Librowser %>

<%- include("../partials/header") -%>
<%- include("../partials/publicNav") %>

<!-- INCLUDE CUSTOM CODE HERE -->
<h1 class="container">HI HI HI ABOUT PAGE</h1>

<%- include("../partials/footer") -%>