<%# Signin page for users %>

<%- include("../partials/header") -%>
<%- include("../partials/publicNav") %>

<script>
    $(document).ready(() => {

        // aos animations
        AOS.init({ once: true, duration: "900" });

        $("#flash").hide(0);

        $("#submit").click(() => {

            let email = $("#email").val();
            let password = $("#password").val();

            $.post("/signin", { email, password }, (response) => {
                if(!response.success && response.msg) {
                    $("#flash").show(500);
                    document.getElementById("flash").innerHTML = response.msg; 
                } else {
                    location.reload();
                }
            });
        });
    });
</script>

<div class="container" data-aos="fade-in" data-aos-delay="100">
    <div class="row">
        <div class="col-lg-12 text-center mb-3">
            <h1 class="mt-5">Sign In to Librowser</h1>
            <p class="lead">Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>
</div>
  
<div class="container">
    <form action="/signin" method="post">
        <div class="form-floating mb-3" data-aos="fade-in" data-aos-delay="200">
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3" data-aos="fade-in" data-aos-delay="300">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <button type="button" class="btn btn-primary mb-3" id="submit" data-aos="fade-in" data-aos-delay="400">Log In</button>
    </form>

    <div class="alert alert-danger" role="alert" id="flash"></div>
</div>

<%- include("../partials/footer") -%>