<%# Landing page for users %>

<%- include("../partials/header") -%>
<%- include("../partials/privateNav") %>

<!-- INCLUDE CUSTOM CODE HERE -->
<h1 class="container">HI HI HI THIS IS HOME PAGE</h1>

<%- include("../partials/footer") -%>